unidecode
langchain==0.0.123
gnews
pandas
faiss-cpu
openai
spacy==3.5.0
nltk
numpy
tiktoken
clean-text
flask
pandas
attrdict
flask_cors
selenium
webdriver_manager
lxml
selenium
#en_core_web_sm
#unidecode
#chromadb